name: Generate Changelog
run-name: Generate Changelog ${{ github.sha }} by @${{ github.actor }}

on:
  workflow_dispatch:
  workflow_run:
    workflows: [Release]
    types: [completed]
    branches: [main]

jobs:
  changelog:
    name: Generate Changelog
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to commit changes
      pull-requests: write # to be able to create pull requests
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
      - name: Generate Changelog
        uses: orhun/git-cliff-action@cb015de125f15039c823b8be209c632aa436c76c # v3.3.0
        id: git-cliff
        with:
          args: -vv --latest --prepend CHANGELOG.md --no-exec # https://git-cliff.org/docs/usage/args
        env:
          GITHUB_REPO: ${{ github.repository }}
      - name: Get Release Version
        run: echo "RELEASE_TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@ba864ad40c29a20a464f75f942160a3213edfbd1 # v6.1.0
        with:
          add-paths: CHANGELOG.md
          commit-message: "chore(release): update changelog after ${{ env.RELEASE_TAG }}"
          title: "chore(release): update changelog"
          body: |
            :robot: Update changelog after the release of [${{ env.RELEASE_TAG }}](https://github.com/${{ github.repository }}/releases/tag/${{ env.RELEASE_TAG }})
            <details><summary>Changelog Details</summary>

            ${{ steps.git-cliff.outputs.content }}
            </details>
          branch: "chore/update-changelog"
          base: main
