# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
# Terraform Provider testing workflow.
name: Tests
run-name: Provider Tests ${{ github.sha }} by @${{ github.actor }}

on: workflow_call

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
          cache: true
      - run: make download
      - run: make build
      - run: go mod tidy
      - name: Verify no go.mod changes were made
        uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf # v20.0.4
        with:
          files: |
            go.mod
            go.sum
          fail-if-changed: true
          fail-message: "go.mod or go.sum needs tidying. Please run 'go mod tidy' and commit the changes."
      - name: Verify go modules
        run: go mod verify

  # Run acceptance tests in a matrix with Terraform CLI versions
  test:
    name: Terraform Provider Acceptance Tests
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        # list whatever Terraform versions here you would like to support
        terraform:
          - "1.0.*"
          - "1.5.7" # OpenTofu fork
          - "1.12.*"
          - "1.13.*"
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
          cache: true
          cache-dependency-path: go.sum
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - run: make download
      - run: make testacc

      # - name: Run Tests
      #   run: go tool gotest.tools/gotestsum --junitfile test-results.xml --format github-actions -- -v -tags="e2e,integration" -coverprofile=coverage.out -covermode=atomic ./...

      # # Generate test report annotations in GitHub UI
      # - name: Test Report
      #   uses: mikepenz/action-junit-report@a83fd2b5d58d4fc702e690c1ea688d702d28d281 # v5.6.1
      #   if: ${{ !cancelled() }} # run this step even if previous step failed
      #   with:
      #     report_paths: test-results.xml
      #     check_name: Go Test Results
      #     include_passed: true
      #     fail_on_failure: true
      #     require_tests: true
