# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: Lint
run-name: Lint ${{ github.sha }} by @${{ github.actor }}

on: workflow_call

permissions:
  contents: read

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Run Linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          since_last_remote_commit: true
          files_yaml: |
            go:
              - '**/*.go'
            docs:
              - '**/*.md'
            docker:
              - '**/Dockerfile'
              - '**/*.dockerfile'
            compose:
              - 'docker-compose*.yaml'
              - 'docker-compose*.yml'
            workflows:
              - '.github/workflows/*.yml'
              - '.github/workflows/*.yaml'
            terraform:
              - '**/.tf'

      - name: Run Golang Lint
        if: steps.changed.outputs.go_any_changed == 'true'
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: latest

      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@992badcdf24e3b8eb7e87ff9287fe931bcb00c6e # v20.0.0
        if: steps.changed.outputs.docs_any_changed == 'true'
        with:
          globs: ${{ steps.changed.outputs.docs_all_changed_files }}
          separator: ","

      - name: Hadolint (Dockerfiles)
        if: steps.changed.outputs.docker_any_changed == 'true'
        uses: jbergstroem/hadolint-gh-action@2b00b87f8a56783930b6a4749837d7c45c567ff2 # v1.13.0
        with:
          dockerfile: ${{ steps.changed.outputs.docker_all_changed_files }}
          annotate: true
          output_format: tty

      - name: Actionlint (GitHub workflows)
        if: steps.changed.outputs.workflows_any_changed == 'true'
        uses: devops-actions/actionlint@467e2ce19b2310e93c9ffa0b50fe31f86b5a7f23 # v0.1.10
        with:
          shellcheck_opts: "-e SC2129 --severity=error"

      - name: Docker Compose Linter
        if: steps.changed.outputs.compose_any_changed == 'true'
        uses: docker-compose-linter/dclint-github-action@18659f6a7956706cb67cf9c1ad5e55f4352cbc17 # v1.6.0
        with:
          path: ${{ steps.changed.outputs.compose_all_changed_files }}
          recursive: true
          formatter: stylish

      - uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
        if: steps.changed.outputs.terraform_any_changed == 'true'
      - run: tflint --init
        if: steps.changed.outputs.terraform_any_changed == 'true'
        env: # https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/plugins.md#avoiding-rate-limiting
          GITHUB_TOKEN: ${{ github.token }}
      - name: Run TFLint
        if: steps.changed.outputs.terraform_any_changed == 'true'
        run: tflint -f compact
