# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: Pipeline
run-name: Pipeline ${{ github.sha }} by @${{ github.actor }}

# https://github.com/tj-actions/changed-files#on-push-%EF%B8%8F
# Using GitHub's API is not supported for push events in tj-actions/changed-files
on:
  push:

permissions:
  contents: read
  pull-requests: write

jobs:
  find-changed-files:
    name: Changed Files
    runs-on: ubuntu-latest
    outputs:
      lint_any_changed: ${{ steps.changed-files.outputs.lint_any_changed }}
      app_any_changed: ${{ steps.changed-files.outputs.app_any_changed }}
      any_changed: ${{ steps.changed-files.outputs.any_changed }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Find changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v46
        with:
          base_sha: refs/remotes/origin/main
          files_yaml: |
            lint:
              - '**.go'
              - '**.tf'
              - '.github/workflows/**'
              - '**/Dockerfile'
              - '**/docker-compose*.yaml'
              - '**.md'
              - '.markdownlint-cli2.yml'
            app:
              - '**.go'
              - 'go.mod'
              - 'go.sum'
              - '.golangci.yml'
              - '.goreleaser.yml'
              - 'Makefile'

  secrets:
    name: Secrets
    needs: [find-changed-files]
    if: |
      github.ref != 'refs/heads/main' &&
      needs.find-changed-files.outputs.any_changed == 'true'
    uses: ./.github/workflows/trufflehog.yml
    secrets: inherit
    with:
      branch: ${{ github.ref_name }}

  lint:
    name: Lint
    needs: [find-changed-files]
    if: |
      github.ref != 'refs/heads/main' &&
      needs.find-changed-files.outputs.lint_any_changed == 'true'
    uses: ./.github/workflows/lint.yml
    secrets: inherit

  app:
    name: Build and Test
    needs: [find-changed-files]
    if: |
      github.ref == 'refs/heads/main' ||
      needs.find-changed-files.outputs.app_any_changed == 'true'
    uses: ./.github/workflows/ci-go.yml
    secrets: inherit

  release:
    name: Release
    needs: [app]
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/release.yml
    permissions:
      contents: write
      issues: write
      pull-requests: write
    secrets: inherit

  pipeline-success:
    name: Pipeline Success
    runs-on: ubuntu-latest
    needs:
      - secrets
      - lint
      - app
      - release
    if: always()
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1
        id: check-pipeline
        with:
          allowed-skips: "secrets,lint,app,release"
          jobs: ${{ toJSON(needs) }}
