# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
# Terraform Provider release workflow.
name: Release
run-name: Release ${{ github.sha }} by @${{ github.actor }}

on:
  workflow_dispatch:
  workflow_call:

jobs:
  release:
    name: Run Semantic Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    env:
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
        with:
          # Allow goreleaser to access older tag information.
          fetch-depth: 0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
          cache: true
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        id: import_gpg
        with:
          gpg_private_key: ${{ env.GPG_PRIVATE_KEY }}
          passphrase: ${{ env.PASSPHRASE }}
      - name: Run go-semantic-release
        uses: go-semantic-release/action@2e9dc4247a6004f8377781bef4cb9dad273a741f # v1.24.1
        with:
          hooks: goreleaser
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}

  changelog:
    name: Generate Changelog
    runs-on: ubuntu-latest
    needs: [release]
    permissions:
      contents: write # to be able to commit changes
      pull-requests: write # to be able to create pull requests
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
        with:
          fetch-depth: 0
      - uses: orhun/git-cliff-action@d77b37db2e3f7398432d34b72a12aa3e2ba87e51 # v4.6.0
        id: git-cliff
        with:
          version: latest
          args: -v --output CHANGELOG.md --no-exec # https://git-cliff.org/docs/usage/args
        env:
          GITHUB_REPO: ${{ github.repository }}
      - name: Get Release Version
        run: echo "RELEASE_TAG=$(git describe --tags --abbrev=0)" >> "$GITHUB_ENV"
      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          add-paths: CHANGELOG.md
          commit-message: "chore(release): update changelog after ${{ env.RELEASE_TAG }}"
          title: "chore(release): update changelog"
          body: |
            :robot: Update changelog after the release of [${{ env.RELEASE_TAG }}](https://github.com/${{ github.repository }}/releases/tag/${{ env.RELEASE_TAG }})
            <details><summary>Changelog Details</summary>

            ${{ steps.git-cliff.outputs.content }}
            </details>
          branch: "chore/update-changelog"
          base: main
